# API keys
高德key.txt
高德security.txt

# Dependencies
node_modules/
frontend/dist/
__pycache__/
*.pyc
.venv/
venv/
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

docs/*.pptx

*.zip